[submodule "packages/cccEngineDefault"]
	path = packages/cccEngineDefault
	url = https://github.com/tonyshow/cccEngineDefault.git
[submodule "packages/tools"]
	path = packages/tools
	url = https://github.com/tonyshow/tools.git
[submodule "packages/pack"]
	path = packages/pack
	url = https://github.com/tonyshow/pack.git
[submodule "assets/common"]
	path = assets/common
	url = https://github.com/tonyshow/cccCommonSrc.git
[submodule "assets/resources/common"]
	path = assets/resources/common
	url = https://github.com/tonyshow/cccResCommon.git
[submodule "packages/i18n"]
	path = packages/i18n
	url = https://github.com/tonyshow/i18n.git
[submodule "assets/libs"]
	path = assets/libs
	url = https://github.com/tonyshow/libs.git 
[submodule "assets/resources/commonRes"]
	path = assets/resources/commonRes
	url = https://github.com/tonyshow/cccResCommon.git
